# OS
.DS_Store
Thumbs.db

# Node + package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/

# Logs + caches
logs/
*.log
.cache/
.eslintcache

# Environment files
.env
.env.*.local

# TypeScript build artifacts
*.tsbuildinfo
types/
build/
dist/
out/
coverage/
*.js
*.js.map
/lib/

# IDE + editor
.vscode/
.idea/
.zed/
*.swp
certs/
docs/data/
docs/public/
